@model MainPageModel

@{
    ViewBag.Title = "AjaxView";
}

<h2>AjaxView</h2>

<h2>Connection Status: @Model.isConnected</h2>
<h2>There are @Model.numOfImages images</h2>

<div>
    <h2>Students: </h2>
    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
        </tr>
        @foreach (var s in Model.students)
        {
        <tr>
            <td><p type="text" id="id" size="5">@Html.DisplayFor(modelitem => s.ID)</td>
            <td><p type="text" id="firstName" size="5">@Html.DisplayFor(modelitem => s.FirstName)</p></td>
            <td><p type="text" id="lastName" size="5">@Html.DisplayFor(modelitem => s.LastName)</p></td>
        </tr>
        }
    </table>

</div>

<script>
    @*$("#btnStart").click(function () {
        $.getJSON("@Url.Action("GetEmployee")", function (empl) {
            $("#prodId").text(empl.FirstName);
            $("#prodName").text(empl.LastName);
        });
    });*@

    @*$("#btnSearch").click(function () {
        var input = {
            name:$("#NameID").val(),
            salary: $("#txtSalaryId").val()
        };
        $.post("@Url.Action("GetEmployee")", input, function (data) {
            $("#lstProducts").append("<li>" + data.FirstName + " " + data.LastName + " : $" + data.Salary + "</li>");
        }, "json");
    });*@

</script>